# IDE
.idea/
*.iml

# Gradle
.gradle/
**/build/

# NDK/CMake
.externalNativeBuild/
.cxx/

# OS
.DS_Store

# Local config & secrets (jangan pernah di-commit)
local.properties
**/local.properties
*.jks
*.keystore
*.pem

# Misc
captures/
